<form class="flex flex-col w-full overflow-auto bg-card" [formGroup]="form">
    <div class="flex flex-initial justify-between  px-6 items-center text-white bg-primary">
        <div class="flex flex-row items-center h-16 min-h-16">
            <mat-icon class="icon-size-7 text-current" svgIcon="settings"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">{{'Select Gate' | translate}}</div>
        </div>
        <mat-icon [mat-dialog-close]="false" class="icon-size-7 cursor-pointer text-current" [svgIcon]="'close'">
        </mat-icon>
    </div>
    <div class="flex flex-col p-6">
        <mat-form-field>
            <mat-label>{{'Gate' | translate}}</mat-label>
            <mat-select formControlName="gate_no">
                <mat-option *ngFor="let gate of gates" [value]="gate.gate_no">
                    {{gate.gate_no}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('gate_no').hasError('required')">
                {{'Gate No is required' | translate}}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="flex flex-row flex-initial justify-end  p-6 pt-0">
        <button [disabled]="!form.valid" type="submit" (click)="save()"
            class="fuse-mat-button-large w-full md:w-auto text-white rounded-md min-h-0" mat-flat-button
            [color]="'primary'">
            <mat-icon svgIcon="save"></mat-icon>
            <span class="hidden md:block">
                {{'Save & Login' | translate}}
            </span>
        </button>
    </div>
</form>